.guarantees-help {
  max-width: 1218px;
}

.guarantees-help__title {
  margin: 0;
  margin-top: 11px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}

.guarantees-help__subtitle {
  margin: 0;
  margin-top: 50px;
  line-height: 30px;
}

.guarantees-help__items {
  display: flex;
  column-gap: 30px;
  margin-top: 51px;
}

.guarantees-help__item {
  width: 33%;
}

.guarantees-help__item-title {
  margin: 0;
  margin-top: 33px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.guarantees-help__item-text {
  line-height: 30px;
  margin: 0;
  margin-top: 10px;
}

.guarantees-help__item-image {
  display: block;
}

.guarantees-help__item-year {
  font-weight: 600;
  color: #e33e54;
}

@media screen and (max-width: 1750px) {
  .guarantees-help {
    max-width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .guarantees-help__title {
    font-size: 30px;
    line-height: 37px;
  }

  .guarantees-help__subtitle {
    margin-top: 37px;
    font-size: 16px;
  }

  .guarantees-help__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 27px;
    margin-top: 51px;
  }

  .guarantees-help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
  }
  .guarantees-help__item:last-child {
    grid-column: 1/3;
  }

  .guarantees-help__item-image {
    width: 79px;
    height: 79px;
  }

  .guarantees-help__item-title {
    text-align: center;
    margin-top: 26px;
    font-size: 18px;
  }

  .guarantees-help__item-text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    margin-top: 2px;
  }
}

@media screen and (max-width: 768px) {
  .guarantees-help__title {
    font-size: 20px;
    line-height: 30px;
  }

  .guarantees-help__subtitle {
    margin-top: 26px;
    font-size: 14px;
    line-height: 26px;
  }

  .guarantees-help__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
    margin-top: 23px;
    flex-wrap: wrap;
  }

  .guarantees-help__item-title {
    margin-top: 18px;
  }

  .guarantees-help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
  }
}
