.main {
  display: flex;
  flex-direction: column;
  max-width: 1381px;
}

.main__advantages {
  margin-top: 47px;
  position: relative;
}

.main__stages-work {
  margin-top: 93px;
}

.main__guarantees-help {
  margin-top: 88px;
}

.main__consultation {
  margin-top: 98px;
}

.main__manual {
  margin-top: 111px;
}

.main__finish-work {
  margin-top: 103px;
}
