section.lead
    h1.lead__title Монтаж дымоходов
    nav.lead__nav
        li.lead__nav-item
            a.lead__nav-link(href="") Главная
        li.lead__nav-item
            a.lead__nav-link(href="") Монтаж дымоходов
    p.lead__text-info В <span class='lead__text-info-product'> Дымоход.ру </span>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.