.social-network {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.social-network__vk-telegramm {
  display: block;
  width: 20px;
  height: 20px;
}

.social-network__insta-whatsapp {
  display: block;
  width: 15px;
  height: 15px;
}
