main.main.body__main
    include ./lead/lead.pug
    include ./advantages/advantages.pug
    include ./stages-work/stages-work.pug
    include ./guarantees-help/guarantees-help.pug
    include ./consultation/consultation.pug
    include ./manual/manual.pug  
    include ./finish-work/finish-work.pug
    