section.stages-work.main__stages-work
    hr.gorisont-line
    h2.stages-work__title Процесс выполнения монтажа
    ol.stages-work__list
        li.stages-work__list-text Рассчёт предварительной заявки
        li.stages-work__list-text Замер объекта нашим инженером
        li.stages-work__list-text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы
        li.stages-work__list-text Изготовление Дымохода, покраска (если требуется)
        li.stages-work__list-text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
        li.stages-work__list-text Гарантийное обслуживание по соответствующем сроку