header(class='header body__header')
    img.header__logo(src=require('../images/logo.png') alt='Логотип')
    nav.header__nav
        ul.header__list
            li.header__list-item каталог товаров
            li.header__list-item доставка и оплата
            li.header__list-item цены
            li.header__list-item контакты
    p.header__telephone +7 (812) 
        span.header__telephone-number 509 21 98
    a.header__call-me(href="#") перезвоните мне 
    include ./social-network.pug
    div.header__interaction
        button(class='header__interaction-item header__search')            
        button(class='header__interaction-item header__heart')            
        button(class='header__interaction-item header__shop-cart')
        
    
