div(class='social-network header__social-network')
    a(href="") 
        img(src=require('../images/vk.svg') class='social-network__vk-telegramm' alt='вконтакте')
    a(href="") 
        img(src=require('../images/telegram.svg') class='social-network__vk-telegramm' alt='телеграмм')
    a(href="") 
        img(src=require('../images/instagram.svg') class='social-network__insta-whatsapp' alt='интаграмм')
    a(href="") 
        img(src=require('../images/whatsapp.svg') class='social-network__insta-whatsapp' alt='вотсап')