section.advantages.main__advantages
    div.advantages__info-text
        h2.advantages__title Lorem ipsum dolor sit amet <span class="advantages__title-subtitle">Lorem ipsum</span>
        ul.advantages__list
            li.advantages__list-text Доступные цены
            li.advantages__list-text Собственное производсвто Дымоходов
            li.advantages__list-text Выполнение необходимых работ, связанных с установкой камина, печи, котла
            li.advantages__list-text Гарантия (от трёх до десяти лет)
            li.advantages__list-text Работаем чисто, аккуратно, убираем за собой, не сквернословим
            li.advantages__list-text Только русские квалифицированные специалисты
            li.advantages__list-text Устанавливаем любые дымоходы всех производителей
    div.advantages__banner
        img.advantages__banner-foto(src=require('../../../images/flue.png'), alt="")


