.lead {
  max-width: 1218px;
}
.lead__title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
}

.lead__nav {
  margin-top: 39px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  column-gap: 6px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 14px 0;
}

.lead__nav-link {
  color: #b1b1b1;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.lead__nav-link:hover {
  color: #e33e54;
}

.lead__nav-item:nth-child(n + 2)::before {
  content: url('../../../images/right-arrow.svg');
  margin-right: 6px;
}

.lead__nav-item:last-child .lead__nav-link {
  color: #4c858b;
}
.lead__nav .lead__nav-item:nth-last-child(-n + 2) {
  display: none;
}

.lead__text-info {
  margin: 0;
  margin-top: 81px;
  line-height: 30px;
  font-weight: 400;
}

.lead__text-info-product {
  color: #e33e54;
  font-weight: 600;
}

@media screen and (max-width: 1750px) {
  .lead {
    max-width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .lead__title {
    font-size: 45px;
    line-height: 55px;
  }

  .lead__nav {
    margin-top: 30px;
    padding: 14px 0;
  }

  .lead__text-info {
    margin-top: 60px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .lead__nav .lead__nav-item:nth-last-child(-n + 2) {
    display: block;
  }
  .lead__title {
    font-size: 30px;
    line-height: 36px;
  }

  .lead__nav {
    margin-top: 11px;
    padding: 8px 0;
  }

  .lead__text-info {
    margin-top: 16px;
    font-size: 14px;
    line-height: 26px;
  }
}
