.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: block;
  width: 100px;
  height: 97px;
}

.header__nav {
  margin: 0 46px 0 31px;
}

.header__list {
  font-weight: 700;
  column-gap: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  font-weight: 700;
}

.header__list-item {
  text-align: center;
  font-family: inherit;
  line-height: 23px;
  padding: 0;
  color: #4c858b;
  text-decoration: none;
}

.header__list-item:hover {
  opacity: 0.5;
}

.header__telephone {
  text-align: center;
  letter-spacing: 8%;
  line-height: 20px;
  margin: 0;
  color: #4c858b;
  margin-left: 56px;
  letter-spacing: 1px;
}

.header__telephone-number {
  display: inline-block;
  font-weight: 700;
  color: #000;
}

.header__call-me {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  color: #ae2236;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  line-height: 17px;
  font-size: 14px;
}
.header__call-me::after {
  width: 100%;
  content: '';
  border-bottom: 1px dashed #ae2236;
}

.header__call-me:hover {
  opacity: 0.5;
}

.header__social-network {
  margin-left: 61px;
}

.header__interaction {
  margin-left: 60px;
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header__interaction-point {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding: 16px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background-color: transparent;
}

.header__interaction-point:hover {
  cursor: pointer;
  background-color: lightgreen;
  opacity: 0.7;
}

.header__interaction-icon {
  display: block;
}

.header__quantity-products::after {
  content: '10';
  padding: 3px 4px 5px;
  background-color: #e33e54;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: white;
  font-size: 11px;
  line-height: 13px;
  font-weight: 800;
  font-family: Lato;
}

.header__burger-menu {
  position: relative;
  min-width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #4c858b;
  margin-left: 52px;
}

.header__burger-menu::before,
.header__burger-menu::after {
  content: '';
  background-color: #4c858b;
  width: 22px;
  height: 2px;
  position: absolute;
  border-radius: 2px;
}

.header__burger-menu::before {
  top: 18px;
  left: 17px;
}

.header__burger-menu::after {
  top: 36px;
  left: 17px;
}
.header__burger-menu span {
  width: 22px;
  height: 2px;
  position: absolute;
  background-color: #4c858b;
  left: 17px;
  top: 27px;
  border-radius: 2px;
}

@media screen and (max-width: 1750px) {
  .header__logo {
    width: 90px;
    height: 87px;
  }
  .header__nav {
    margin: 0;
  }

  .header__call-me {
    margin-left: 0;
  }

  .header__telephone {
    margin-left: 0;
  }

  .header__interaction {
    margin-left: 0px;
  }

  .header__social-network {
    margin-left: 0;
  }

  .header__burger-menu {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header__list {
    column-gap: 20px;
  }
  .header {
    column-gap: 10px;
  }
  .header__header-content {
    flex-grow: 2;
    column-gap: 10px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1280px) {
  .header__logo {
    width: 64px;
    height: 62px;
  }

  .header__nav {
    display: none;
  }

  .header__call-me {
    display: none;
  }

  .header__telephone {
    display: none;
  }

  .header__social-network {
    display: none;
  }

  .header {
    padding: 0 0 24px;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
  }

  .header__header-content {
    margin-top: 6px;
    flex-grow: 0;
    column-gap: 21px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .header__burger-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .header__interaction {
    column-gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__interaction-point:nth-last-child(n + 2) {
    display: none;
  }

  .header__burger-menu {
    min-width: 42px;
    height: 42px;
    margin-left: 0;
    margin-right: 0;
  }
  .header__interaction-icon {
    width: 18px;
    height: 18px;
  }

  .header__interaction-point {
    padding: 13px;
  }

  .header__quantity-products::after {
    top: -3px;
    right: -5px;
  }
  .header__header-content {
    column-gap: 16px;
  }

  .header {
    padding: 0 0 17px;
  }

  .header__logo {
    width: 48px;
    height: 47px;
  }

  .header__burger-menu::before,
  .header__burger-menu::after {
    content: '';
    background-color: #4c858b;
    width: 18px;
    height: 1.5px;
    position: absolute;
    border-radius: 2px;
  }

  .header__burger-menu::before {
    top: 14px;
    left: 12px;
  }

  .header__burger-menu::after {
    top: 29px;
    left: 12px;
  }
  .header__burger-menu span {
    width: 18px;
    height: 1.5px;
    position: absolute;
    background-color: #4c858b;
    left: 12px;
    top: 21px;
    border-radius: 2px;
  }
}
