.social-network {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.social-network_column-gap {
  column-gap: 38px;
}

.social-network_footer {
  margin-top: 31px;
  padding-left: 25px;
}

.social-network__vk-telegramm {
  display: block;
  width: 20px;
  height: 20px;
  color: #4c858b;
}

.social-network__vk-telegramm_orange {
  color: #ea6628;
}

.social-network__vk-telegramm:hover {
  opacity: 0.5;
}

.social-network__insta-whatsapp {
  display: block;
  width: 15px;
  height: 15px;
  color: #4c858b;
}

.social-network__insta-whatsapp_orange {
  color: #ea6628;
}

.social-network__insta-whatsapp:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1280px) {
  .social-network_footer {
    margin-top: 20px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 1043px) {
  .social-network_footer {
    margin-top: 0;
  }

  .social-network__insta-whatsapp {
    width: 19px;
    height: 19px;
  }

  .social-network__vk-telegramm {
    width: 23px;
    height: 23px;
  }
}
