<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localStorage homework</title>
    
</head>

<body class='body'>
    <div class='textarea'>
        <textarea class='textarea__input' id="area"></textarea>
        <button class='clearTextArea'>Очистить</button>
    </div>

    <div class='searchThemeColor'>
        <button class='searchThemeColor__light'>Светлая тема</button>
        <button class='searchThemeColor__dark'>Темная тема</button>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos possimus facilis nobis quae praesentium unde quibusdam nam modi in, quam consequatur rerum nesciunt officiis esse minima doloribus sunt delectus vero?
    </div>

</body>


</html>