@import url(./styles/body.scss);
@import url(./styles/header.scss);
@import url(./styles/social-network.scss);

.test {
  width: 100px;
  height: 100px;
  background-image: url('./images/blob-orange-left.png');
}
